.header {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 30px auto 0 auto;
  font-size: 14px;

  &__petName {
    line-height: 14px;
  }

  &__petStatus {
    font-size: 24px;
    margin-left: 20px;
  }

  &__petMaxHPBar {
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
    flex-grow: 1;
  }

  &__petHPBar {
    height: 100%;
    display: block;
    background-color: #00ff00;
  }

  &__petHP {
    color: #999999;
    margin-left: 10px;
  }
}

.main {
  padding: 100px;
}
